@import "../../variables.less";

.todo {
  display: flex;
  border-bottom: thin solid @lightGrayColor;
  align-items: center;
  position: relative;
}

.text {
  min-height: @height;
  font-size: @fontSize;
  flex: 2;
  padding: 15px 0;
  box-sizing: border-box;
  word-break: break-word;
}

.input {
  display: inline-block;
  height: @height;
  font-size: @fontSize;
  flex: 2;
}

.completed {
  color: @lightGrayColor;
  text-decoration: line-through;
}

.delete-button {
  visibility: hidden;
  position: absolute;
  right: 10px;
}

.todo:hover .delete-button {
  visibility: visible;
}

.checkbox {
  margin: 10px;

  &.hidden {
    margin: 10px;
    visibility: hidden;
  }
}
