@import "../../variables.less";

.input {
  opacity: 0;
}

.label {
  box-sizing: border-box;
  position: absolute;
  height: 24px;
  width: 24px;
  border: 1px solid @lightGrayColor;
  border-radius: 50%;

  &.checked {
    border-color: @grayColor;
  }
}

.label {
  &::before {
    content: none;
    display: block;

    height: 5px;
    width: 12px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);

    position: relative;
    left: 4px;
    top: 6px;
  }

  &.checked::before {
    content: "";
  }
}
