@import "../../variables.less";

.inputContainer {
  display: flex;
  border-bottom: medium solid @lightGrayColor;
  align-items: center;
}

.input {
  outline: none;
  height: @height;
  font-size: @fontSize;
  flex: 2;
  border: none;
}

::placeholder {
  font-style: italic;
  color: @lightGrayColor;
}

.check-all-button {
  margin: 10px;

  &.hidden {
    visibility: hidden;
  }
}
