@import "../../variables.less";

.footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  color: @grayColor;
}

.label {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.label:hover {
  border-color: @lightGrayColor;
}

input[name="todosToShow"]:checked + .label {
  border-color: @grayColor;
}